out*/
weights*/
*.pth/
.vscode/
__pycache__/
*.zip
WIDER*/
*.jpg
data/data_raw/
data/ir_cleaned/
data/sampleeyestatelabel/
data/test/
data/train/
data/val/
eval/
landmark_models/
retinaface_gt_v1.1/
torchalign/
dataset/
record.mp4
checkpoint*
logs/
*.pth
*logs*